# Automatically activate virtual environment when entering this directory
# This file works with direnv (https://direnv.net/)
#
# Installation:
#   brew install direnv
#   echo 'eval "$(direnv hook zsh)"' >> ~/.zshrc
#   source ~/.zshrc
#   direnv allow .
#
# Once set up, the virtual environment will automatically activate
# when you cd into this directory!

# Use Python 3.11
layout python python3.11

# Load .env file if it exists
dotenv_if_exists

# Add project root to PYTHONPATH
export PYTHONPATH="${PWD}:${PYTHONPATH}"
