merger:
  - merged with
  - merger of equals
acquisition:
  - acquired by
  - acquisition of
bankruptcy:
  - filed for bankruptcy
  - chapter 11
spin_off:
  - spun off
  - spin-off from
ipo:
  - initial public offering
  - went public
